<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://drive.google.com/file/d/0B_9ncBtvYjClWFhrZHBJakJCckU/view?usp=sharing"><span class="glyphicon glyphicon-info-sign"></span> Resume</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://nojopranoto.com"><span class="glyphicon glyphicon-user"></span> Willy Nojopranoto</a>
      </li>
    </ul>
  </div>
</nav>
