.jumbotron {
  background: repeating-linear-gradient(
    45deg,
    #2F4E8C,
    #2F4E8C 10px,
    #3667C7 10px,
    #2F5E8C 20px);
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #5A83C7;
    border-color: #5A83C7; }
    .jumbotron .btn-primary:hover {
      background: #4B6DA5; }
  .jumbotron p {
    font-size: 50px;
    color: white;
    /*max-width: 75%;*/
    margin: 15px auto 30px; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .profile-picture {
    display: block;
    width: 100px;
    height: 120px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .profile-picture img {
      max-width: 100%; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
  #feedWidget {
      position: relative;
      display:inline-block;
      background:url(bg.png) repeat-x #47525c;
      border:2px solid #48535e;
      margin:0 auto;
      width:250px;
      padding:5px;

      /* Remains hidden if JS is not enabled: */
      /*z-index:20;*/
  }
.feed-container {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align:top;
  display: inline-block;
  text-align:center;
  margin: auto;
}
#activeTab{
  background: no-repeat 95% 50% #47525c;
  border:1px solid #38434d;
  /*cursor:pointer;*/
  font-size:20px;
  margin:0 2px 0 0;
  padding:5px;
}

.line{
  height:1px;
  overflow:hidden;
  background-color:#2b353d;
  border-bottom:1px solid #687581;
  margin:10px 0;
}

#publishedContent div{
  background-color:#EEEEEE;
  color:#555555;
  font-size:12px;
  margin-bottom:10px;
  padding:5px;
  position:relative;

  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;

  /* CSS3 box shadow: */
  -moz-box-shadow:0 1px 1px black;
  -webkit-box-shadow:0 1px 1px black;
  box-shadow:0 1px 1px black;
}

#view div{
  background-color: orange;
  color:orange;
  /*-moz-box-shadow:;
  -webkit-box-shadow:;
  box-shadow:;*/

}

#unpublishedContent div{
  /* The feed entry divs */

  background-color:#EEEEEE;
  color:#555555;
  font-size:12px;
  margin-bottom:10px;
  padding:5px;
  position:relative;

  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;

  /* CSS3 box shadow: */
  -moz-box-shadow:0 1px 1px black;
  -webkit-box-shadow:0 1px 1px black;
  box-shadow:0 1px 1px black;
}

#loginBox {
  padding: 20px;
}