.jumbotron {
  background: repeating-linear-gradient(
    45deg,
    #2F4E8C,
    #2F4E8C 10px,
    #3667C7 10px,
    #2F5E8C 20px);
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #5A83C7;
    border-color: #5A83C7; }
    .jumbotron .btn-primary:hover {
      background: #4B6DA5; }
  .jumbotron p {
    font-size: 50px;
    color: white;
    /*max-width: 75%;*/
    margin: 15px auto 30px; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .profile-picture {
    display: block;
    width: 100px;
    height: 120px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .profile-picture img {
      max-width: 100%; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

