<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class=profile-picture>
      <img src="http://i.imgur.com/36txQUS.jpg">
    </a>
    <h1>Willy Nojopranoto</h1>
    <p>I'm a developer</p>
    <a type="button" class="btn btn-lg btn-default" href="https://drive.google.com/file/d/0B_9ncBtvYjClWFhrZHBJakJCckU/view?usp=sharing"><span class="glyphicon glyphicon-info-sign"></span> Resume</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/willy-nojopranoto-bbb07a51"><span class="fa fa-linkedin-square""></span> LinkedIn</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/wnojopra"><span class="fa fa-github-square"></span> GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    I am a former software engineer at Altera, Oxygen Cloud, and odrive.
    I am currently looking to work on the next big thing.
  </div>
  <hr>
  <!-- <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> In progress</h3>
      <ul>
        <li>In progress.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> In progress</h3>
      <ul>
        <li>In progress</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> In progress</h3>
      <ul>
        <li>In progress</li>
      </ul>
    </div>
  </div>
   <div class="alert alert-info text-center" role="alert">
    In progress
  </div> -->
</div>


</body>
</html>
